n8n/workflow/joke-sse.json
{
    "nodes": [
      {
        "parameters": {
          "respondWith": "text",
          "responseBody": "={{ $json.output }}",
          "options": {
            "responseHeaders": {
              "entries": [
                {
                  "name": "Content-Type",
                  "value": "text/event-stream"
                },
                {
                  "name": "Cache-Control",
                  "value": "no-cache"
                },
                {
                  "name": "Connection",
                  "value": "keep-alive"
                },
                {
                  "name": "X-Accel-Buffering",
                  "value": "no"
                }
              ]
            }
          }
        },
        "type": "n8n-nodes-base.respondToWebhook",
        "typeVersion": 1.1,
        "position": [
          352,
          80
        ],
        "id": "c4f31dee-4487-4321-bb01-67d75cfaef39",
        "name": "Respond to Webhook SSE"
      },
      {
        "parameters": {
          "assignments": {
            "assignments": [
              {
                "id": "a1b2c3d4-e5f6-7890-abcd-ef1234567890",
                "name": "chatInput",
                "value": "={{ $json.body.chatInput || $json.chatInput || '' }}",
                "type": "string"
              },
              {
                "id": "b2c3d4e5-f6a7-8901-bcde-f12345678901",
                "name": "sessionId",
                "value": "={{ $json.body.sessionId || $json.sessionId || 'default-session' }}",
                "type": "string"
              }
            ]
          },
          "options": {}
        },
        "type": "n8n-nodes-base.set",
        "typeVersion": 3.4,
        "position": [
          32,
          96
        ],
        "id": "f1643be8-baed-463f-abe8-5baa7eefe457",
        "name": "Extract Data"
      },
      {
        "parameters": {
          "httpMethod": "POST",
          "path": "joke-webhook-sse",
          "responseMode": "responseNode",
          "options": {}
        },
        "type": "n8n-nodes-base.webhook",
        "typeVersion": 2,
        "position": [
          -176,
          96
        ],
        "id": "08a24b22-4c0e-4fec-a06f-33d1d00808c5",
        "name": "Webhook",
        "webhookId": "f123a456-b789-4c12-d345-e678f901a234"
      },
      {
        "parameters": {
          "language": "python"
        },
        "type": "@n8n/n8n-nodes-langchain.toolCode",
        "typeVersion": 1.3,
        "position": [
          384,
          448
        ],
        "id": "ea23a37b-313c-471b-ba94-86c372860516",
        "name": "Code Tool"
      },
      {
        "parameters": {
          "url": "https://v2.jokeapi.dev/joke/Any",
          "sendQuery": true,
          "queryParameters": {
            "parameters": [
              {}
            ]
          },
          "options": {}
        },
        "type": "n8n-nodes-base.httpRequestTool",
        "typeVersion": 4.2,
        "position": [
          288,
          608
        ],
        "id": "5018ec6b-5db9-47ad-b133-1d051d43817d",
        "name": "JOKE-API"
      },
      {
        "parameters": {},
        "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
        "typeVersion": 1.3,
        "position": [
          64,
          608
        ],
        "id": "55e834af-5170-4ad0-a091-74909b38d7aa",
        "name": "Simple Memory"
      },
      {
        "parameters": {
          "model": {
            "__rl": true,
            "value": "qwen3-max-preview",
            "mode": "list",
            "cachedResultName": "qwen3-max-preview"
          },
          "options": {}
        },
        "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
        "typeVersion": 1.2,
        "position": [
          -144,
          608
        ],
        "id": "ba6113d2-2d6e-4c27-b7e0-06086013fa13",
        "name": "OpenAI Chat Model",
        "credentials": {
          "openAiApi": {
            "id": "9LqVI8o5oytd2Z4c",
            "name": "OpenAi account"
          }
        }
      },
      {
        "parameters": {
          "options": {
            "systemMessage": "# Joke Agent System Prompt\n\nYou are a fun and entertaining joke bot that brings laughter and good vibes to conversations. Your job is to tell jokes, share humor, and keep things light and cheerful.\n\n## Your Main Purpose\n\n- Tell jokes using the Joke API when users ask for them\n- Be funny, witty, and entertaining\n- Keep conversations upbeat and positive\n- Share different types of humor to match user preferences\n\n## How to Use the Joke API\n\n- Use the Joke API tool whenever users ask for jokes\n- You can check the API docs if you need to understand how to filter for specific things\n- The API provides various joke categories and formats\n- You can request specific types of jokes if users have preferences\n- Always deliver the jokes with enthusiasm and good timing\n\n## Interaction Style\n\n### When Users Ask for Jokes\n- Use the Joke API to fetch fresh jokes\n- Present jokes with good comedic timing\n- Add your own flair or setup if appropriate\n- Ask if they'd like to hear more\n\n### General Conversation\n- Keep things light and fun\n- Use humor naturally in responses\n- Be encouraging and positive\n- Remember previous jokes to avoid repetition\n\n### Types of Humor to Offer\n- Clean, family-friendly jokes (default)\n- Dad jokes and puns\n- Programming/tech jokes (if appropriate)\n- One-liners and quick wit\n- Knock-knock jokes\n\n## Response Guidelines\n\n### Joke Delivery\n- Build up anticipation when appropriate\n- Use proper timing and pacing\n- Add enthusiasm with your tone\n- Follow up with \"Got another one?\" or similar\n\n### Conversation Flow\n- Remember what makes users laugh\n- Adapt to their humor preferences\n- Keep the mood upbeat\n- Transition smoothly between jokes and chat\n\n### Examples of Good Responses\n\n**User**: \"Tell me a joke\"\n**You**: \"Coming right up! Let me grab a good one for you...\" *[uses Joke API]* \n\n**User**: \"That was terrible!\"\n**You**: \"Hey, they can't all be winners! 😄 Want me to try again with a different style?\"\n\n**User**: \"Got any programming jokes?\"\n**You**: \"Oh, I love tech humor! Let me find you a good one...\" *[uses Joke API]*\n\n## Keep It Fun\n\n- Stay positive and encouraging\n- Laugh along with users\n- Don't take yourself too seriously\n- Make people smile and brighten their day\n- If a joke doesn't land, just move on cheerfully\n\nRemember: Your goal is to spread joy and laughter. Keep things fun, appropriate, and entertaining!"
          }
        },
        "type": "@n8n/n8n-nodes-langchain.agent",
        "typeVersion": 2.2,
        "position": [
          16,
          336
        ],
        "id": "1dba0305-6fb1-4636-926b-699b8cbfdabd",
        "name": "AI Agent"
      }
    ],
    "connections": {
      "Extract Data": {
        "main": [
          [
            {
              "node": "AI Agent",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Webhook": {
        "main": [
          [
            {
              "node": "Extract Data",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Code Tool": {
        "ai_tool": [
          [
            {
              "node": "AI Agent",
              "type": "ai_tool",
              "index": 0
            }
          ]
        ]
      },
      "JOKE-API": {
        "ai_tool": [
          [
            {
              "node": "AI Agent",
              "type": "ai_tool",
              "index": 0
            }
          ]
        ]
      },
      "Simple Memory": {
        "ai_memory": [
          [
            {
              "node": "AI Agent",
              "type": "ai_memory",
              "index": 0
            }
          ]
        ]
      },
      "OpenAI Chat Model": {
        "ai_languageModel": [
          [
            {
              "node": "AI Agent",
              "type": "ai_languageModel",
              "index": 0
            }
          ]
        ]
      },
      "AI Agent": {
        "main": [
          [
            {
              "node": "Respond to Webhook SSE",
              "type": "main",
              "index": 0
            }
          ]
        ]
      }
    },
    "pinData": {},
    "meta": {
      "templateCredsSetupCompleted": true,
      "instanceId": "46455fcd361ade4fbba5c43d3931cd4a5eebe22458f955842eb63d378a2d1c33"
    }
  }